@use "sass:map";

/*
| ------------------------------------
|            Translations             
| ------------------------------------
*/

$is-prd: false;

$menubar-menu-items: (
    "File": "فایل",
    "Edit": "ویرایش",
    "Selection": "انتخاب",
    "View": "نمایش",
    "Go": "برو",
    "Run": "اجرا",
    "Terminal": "ترمینال",
    "Help": "کمک",
);

$menubar-menu-items-holder: (
    "File": (
        "New Text File": "فایل متن جدید",
        "New File...": "فایل جدید",
        "New Window": "پنجره جدید",
        // ---
        "Open File...": "باز کردن فایل",
        "Open Folder...": "باز کردن پوشه",
        "Open Workspace from File...": "باز کردن فضای‌کاری از فایل",
        "Open Recent": "باز کردن اخیر",
        // ---
        "Add Folder to Workspace...": "افزودن پوشه به فضای‌کاری",
        "Save Workspace As...": "ذخیره فضای‌کاری به صورت",
        "Duplicate Workspace": "تکثیر فضای‌کاری",
        // ---
        "Save": "ذخیره",
        "Save As...": "ذخیره به صورت",
        "Save All": "ذخیره همه",
        // ---
        "Share": "اشتراک‌گذاری",
        // ---
        "Auto Save": "ذخیره خودکار",
        "Preferences": "ترجیحات",
        // ---
        "Revert File": "بازگرداندن فایل",
        "Close Editor": "بستن ویرایشگر",
        "Close Folder": "بستن پوشه",
        "Close Window": "بستن پنجره",
        // ---
        "Exit": "خروج",
    ),
);

.menubar-menu-button .menubar-menu-title,
.menubar-menu-items-holder .action-label {
    // Hide original text
    @if $is-prd {
        font-size: 0 !important;
        color: transparent;
    }
}

// Show translations
.menubar-menu-button .menubar-menu-title::after,
.menubar-menu-items-holder .action-label::after {
    font-size: 12px !important;
    color: white;
}

// ---

.menubar-menu-button .menubar-menu-title {
    // Vertically center translation texts
    display: flex;
}

@each $o, $t in $menubar-menu-items {
    .menubar-menu-button[aria-label="#{$o}"] .menubar-menu-title::after {
        content: $t;
    }
}

// ---

.menubar-menu-items-holder .action-label::after {
    padding: 0 2em;
}

@each $o, $t in map.get($menubar-menu-items-holder, "File") {
    .actions-container[aria-label="File"]
        .action-label[aria-label="#{$o}"]::after {
        content: $t;
    }
}
