@use "sass:map";

/*
| ------------------------------------
|            Translations             
| ------------------------------------
*/

// prettier-ignore
$menubar-menu-items: (
    1: "فایل", // File
    2: "ویرایش", // Edit
    3: "انتخاب", // Selection
    4: "نمایش", // View
    5: "برو", // Go
    6: "اجرا", // Run
    7: "ترمینال", // Terminal
    8: "کمک", // Help
);

// prettier-ignore
$menubar-menu-items-holder: (
    "File": (
        1: "فایل متن جدید", // New Text File
        2: "فایل جدید...", // New File...
        3: "پنجره جدید", // New Window
        // ---
        5: "باز کردن فایل", // Open File...
        6: "باز کردن پوشه", // Open Folder...
        7: "باز کردن فضای‌کاری از فایل", // Open Workspace from File...
        8: "باز کردن اخیر", // Open Recent
        // ---
        10: "افزودن پوشه به فضای‌کاری", // Add Folder to Workspace...
        11: "ذخیره فضای‌کاری به صورت", // Save Workspace As...
        12: "تکثیر فضای‌کاری", // Duplicate Workspace
        // ---
        14: "ذخیره", // Save
        15: "ذخیره به صورت", // Save As...
        16: "ذخیره همه", // Save All
        // ---
        18: "اشتراک‌گذاری", // Share
        // ---
        20: "ذخیره خودکار", // Auto Save
        21: "ترجیحات", // Preferences
        // ---
        23: "بازگرداندن فایل", // Revert File
        24: "بستن ویرایشگر", // Close Editor
        25: "بستن پوشه", // Close Folder
        26: "بستن پنجره", // Close Window
        // ---
        28: "خروج", // Exit
    ),
);

.menubar-menu-button .menubar-menu-title,
.menubar-menu-items-holder .action-label {
    /* Hide original text */
    /* font-size: 0 !important; */
    /* color: transparent; */

    /* Align center translations */
    display: flex;
}

/* Show translations */
.menubar-menu-button .menubar-menu-title::after,
.menubar-menu-items-holder .action-label::after {
    font-size: 12px !important;
    color: white;
}

@each $nth, $text in $menubar-menu-items {
    .menubar-menu-button:nth-child(#{$nth}) .menubar-menu-title::after {
        content: $text;
    }
}

@each $nth, $text in map.get($menubar-menu-items-holder, "File") {
    .menubar-menu-button:nth-child(1)
        .menubar-menu-title
        + .menubar-menu-items-holder
        .action-item:nth-child(#{$nth})
        .action-label::after {
        content: $text;
    }
}
